body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.product-title {
    font-weight: bold;
    margin: 10px 0;
}

.price {
    color: green;
    font-weight: bold;
}

.search-link {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
}

.search-link:hover {
    background-color: #0056b3;
}

#searchInput{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchbtn{
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-style: none ;
    border-radius: 5px;
}

#searchbtn:hover {
    background-color: #0056b3;
}


#suggestions{
    margin-bottom: 10px;
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
    width: 165px;
}

.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pagination button {
    padding: 8px 18px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.pagination button:hover:not(:disabled) {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    transform: none;
}

#pageInfo {
    font-weight: 600;
    font-size: 15px;
    color: #333;
}
